.contact-me {
    padding: 100px;
    font-family: var(--fontstyle-1);
    text-align: center;
    padding-top: 0;
    border: 3px solid rgba(0, 193, 174, 0.744);
    border-radius: 10px;
    width: 50%;
    margin-left: 340px;
}

.contact-me__main {
    font-size: 30px;
    padding-top: 100px;
}

.contact-me__sub {
    font-size: 20px;
}

.contact-links {
    padding: 10px;
    text-decoration: none;
}